name: Mirror to Personal Repo

on:
  push:
    branches: [ main ] # <-- ATTENZIONE: Se il tuo branch principale si chiama 'master', scrivi 'master'

jobs:
  mirror_to_personal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Necessario per scaricare tutta la cronologia dei commit

      - name: Push to Personal Mirror
        run: |
          # Configura i tuoi dati personali
          git config --global user.email "rad.nebili@gmail.com"
          git config --global user.name "Wawen22"
          
          # Esegue il push forzato verso il tuo repository mirror personale
          # Utilizza il segreto PERSONAL_ACCESS_TOKEN che devi aver salvato nel repo dell'organizzazione
          git push --force https://${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/Wawen22/TLCO-PRODUCT-Sistema-Ingressi_MIRROR.git main
